.main-persona {
    display: flex;
    flex-direction: row;

    width: 100vw;
    /* height: 100vh; */
}

aside {
    background-color: var(--core-color);
    color: var(--secondary-color);

    width: 35vw;
    height: 100%;
}

.persona-name {
    padding-top: 1rem;
    padding-left: 5vw;

    font-size: 3rem;
    /* text-align: center; */
}

.persona-work {
    /* padding-top: 1rem; */
    padding-left: 5vw;

    font-size: 1rem;
    font-style: italic;
    /* text-align: center; */
}

.persona-img {
    padding-top: 2rem;
    padding-left: 10rem;

    height: 80vh;
    width: 50rem;
}

.persona-info-wrapper {
    /* background-color: var(--color-green-400); */
    /* color: var(--core-color); */

    width: 65vw;
    height: 100vh;

    padding: 2rem 5rem;
    /* display: flex;
    flex-direction: column; */
}

.persona-info {
    width: 20rem;
    /* height: 4rem; */

    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
}

.persona-info h2 {
    width: 100%;
    margin-bottom: 2rem;
}

.persona-info label {
    width: 10rem;

    display: flex;
    align-items: center;    

    /* font-size: 1.5rem; */
    margin-bottom: 1rem;
}

.persona-icon {
    height: 1.5rem;
    width: 1.5rem;

    margin-right: 1rem;
}

.persona-traits {
    width: 20rem;
    /* height: 4rem; */

    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
}

.persona-traits h2 {
    width: 100%;
    margin-bottom: 2rem;
}

.persona-traits p {
    background-color: var(--core-color);
    color: var(--secondary-color);

    width: auto;
    
    margin-right: .4rem;
    margin-bottom: .4rem;

    padding: .2rem .5rem;

    border-radius: .5rem;
}