@import url("https://use.typekit.net/cqe4hkd.css");
@import url("https://fonts.googleapis.com/css2?family=Sarabun&display=swap");

:root {
    --primary-color: #302b3e;
    --secondary-color: #ffffff;
    --tetairy-color: #dedad8;
    --core-color: #17b9a1;
    --core-accent-color: #17b9a3;
    --accent-1-color: #3ae3cd; /* Usually used for companies */
    --accent-2-color: #f8b61a; /* Usually used for students */
}

* {
    margin: 0;
    padding: 0;
    /* outline: olive 1px solid; */
}

/* html,
body {
  min-width: 100%;
  width: 100vw;
  max-width: 100%;
} */

h1,
h2,
h3 {
    font-family: "roc-grotesk", sans-serif;
    font-weight: 600; /* Bold */
}

p,
li,
span {
    font-family: "Sarabun", sans-serif;
    font-weight: 400; /* Regular */
}

/* MARK: HEADER
*/

.header {
    background-color: var(--core-color);
    color: var(--secondary-color);

    /* width: calc(100vw - 4rem); */

    display: flex;
    flex-direction: column;

    padding: 1rem 2rem;

    font-family: "roc-grotesk", sans-serif;
    font-weight: 600; /* Bold */
    /* text-align: center; */
}

.header-top {
    display: flex;
    width: calc(100vw - 4rem);

    margin-bottom: 4rem;
}

.header .logo {
    height: 4rem;
    width: 30rem;

    background-image: url("../images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
}

.header nav {
    display: flex;
    gap: 4rem;

    margin: auto;
}

.header-bottom {
    background-color: var(--core-color);
    /* padding: 1rem 2rem; */
    padding-bottom: 2rem;
    /* width: calc(100vw - 0rem); */

    font-family: "roc-grotesk", sans-serif;
    font-weight: 600; /* Bold */
    /* text-align: center; */
}

.header-bottom .search {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    width: 80vw;
    /* height: 8rem; */
    gap: 0.5rem;
    margin-inline: auto;
    padding: 1rem 2rem;

    border-radius: 20px;
}

.header-bottom .search .search-section:nth-child(1) {
    width: min(30vw, 28rem);
}
.header-bottom .search .search-section:nth-child(2) {
    width: min(30vw, 24rem);
}
.header-bottom .search .search-bottom .search-section:nth-child(1) {
    /* width: 24rem; */
    display: flex;

    gap: 1rem;
}
.header-bottom .search .search-bottom .search-section:nth-child(2) {
    /* width: 24rem; */
    display: flex;

    gap: 1rem;
}

/* .header-bottom .search .search-section label {
    width: 100%;
    background-color: lightgreen;
} */

.header-bottom .search label:not(.switch){
    width: 100%;
    font-size: 1rem;
    font-family: "Sarabun", sans-serif;
    font-weight: 600; /* Regular */

    margin-right: 1rem;
}

.search-top {
    display: flex;
}

.search-bottom {
    display: flex;
    gap: 2rem;
    margin-top: 0.5rem;
}

.header-bottom .search input[type="search"] {
    border: 1px solid;
    outline: none;

    border-radius: 10px;

    width: min(18vw, 26rem);
    height: 2.5rem;

    padding-inline: 0.2rem;
    /* height: 100%;

    font-size: 2rem;
    font-family: "Sarabun", sans-serif;
    font-weight: 400; /* Regular */

    /* border-radius: 20px;
    padding: 0 2rem;  */
}

#input-location {
    width: min(20vw, 16rem);
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.header-bottom .search .search-top select {
    width: 5rem;
    height: 2.5rem;
    /* padding-block: .2rem; */

    border: 1px solid;
    outline: none;

    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    padding-inline: 0.1rem;
}

.header-bottom .search .search-bottom select {
    width: 16rem;
    height: 1.5rem;
    /* padding-block: .2rem; */

    font-weight: 400;

    /* padding-inline: 0.1rem; */
}

#search-button {
    background-color: var(--core-accent-color);
    color: var(--primary-color);

    width: 8rem;
    height: 40px;
    /* height: 100%; */

    margin-top: 20.5px;
    padding: 0.5rem;

    border: none;
    border-radius: calc(8rem / 4);

    /* margin-left: 1rem; */

    font-size: 1rem;
    text-align: center;

    cursor: pointer;
}

/* MARK: FOOTER
*/

.footer {
    background-color: var(--core-color);
    color: var(--secondary-color);

    /* width: calc(100vw - 2rem); */
    height: 20rem;
    clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 20%);

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 8rem 0rem 0rem 0rem;

    font-family: "roc-grotesk", sans-serif;
    font-weight: 600; /* Bold */
    /* text-align: center; */
}

.footer .logo {
    /* padding: inherit 2rem 0rem 2rem; */
    font-size: 4rem;
}

.footer nav {
    display: flex;
    gap: 4rem;

    /* margin: 2rem auto; */
    margin-bottom: 2rem
}

.footer .copyright {
    width: 100%;

    padding-top: 1rem;

    border-top: 1px solid var(--secondary-color);
    align-self: start;
    justify-items: end;
}

@media (max-width: 768px) {
    .header-top {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
}